<form #f="ngForm" (ngSubmit)="onSubmit(f)" >
  <div class="form-group">
    <label for="nome">Nome</label>
    <input type="text" class="form-control" name="nome"
    id="nome" placeholder="Nome" [(ngModel)]="usuario.nome"
    required #nome>
   <div>
    {{ nome.className }}
   </div>

  </div><br>

  <div class="form-group">
    <label for="email">E-mail</label>
    <input type="email" class="form-control" name="email"
    id="email" placeholder="Seu@e-mail.com"[(ngModel)]="usuario.email"
    required="email">
  </div><br>

  <button type="submit" class="btn btn-primary">Enviar</button>
</form>
